*{
    margin: 0px;
    padding: 0px;
}

h1{
    margin-top: 2rem;
}
h3{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

body{
    text-align: center;
}

.box.container{
    display: flex;
    justify-content: center;
}

.first-row,.second-row{
    display: flex;
    justify-content: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    margin: 2.5rem;
    border-radius: 20px;
    text-align: center;
}

.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}

.purple{
    background-color: #819ff9;
}
.green{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}

@media screen and (max-width : 430px){


    h5{
        margin-top: 10px;
    }
    h1{
        margin-top: 10px;
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
    .btn{
        height: 100px;
        width: 100px;
        margin: 10px
    }
}